absl-py==1.4.0
aiohttp==3.8.4
aiosignal==1.3.1
alembic==1.13.2
altair==4.2.2
altgraph==0.17.4
aniso8601==9.0.1
annotated-types==0.7.0
anyio==3.6.2
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asgiref==3.8.1
asttokens==2.2.1
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.2
attrs==25.3.0
Babel==2.13.1
backcall==0.2.0
bbox==0.9.4
bcrypt==4.2.0
beautifulsoup4==4.12.2
bidict==0.23.1
bleach==6.0.0
blinker==1.8.2
cachetools==5.3.1
certifi==2025.8.3
cffi==2.0.0
charset-normalizer==2.0.12
clarabel==0.6.0
click==8.1.7
colorama==0.4.4
comm==0.1.2
comtypes==1.1.11
contourpy==1.3.0
cryptography==46.0.5
cssselect==1.2.0
cssutils==2.11.1
cvxpy==1.4.1
cvzone==1.6.1
cycler==0.12.1
dataclasses-json==0.6.7
DateTime==5.2
debugpy==1.6.6
decorator==5.1.1
defusedxml==0.7.1
dill==0.4.0
distlib==0.3.8
distro==1.9.0
Django==4.2.15
dnspython==2.6.1
docx==0.2.4
drawdata==0.2.0
ecos==2.0.12
email-to==0.1.0
entrypoints==0.4
et-xmlfile==1.1.0
eventlet==0.36.1
exceptiongroup==1.3.0
executing==1.2.0
fastapi==0.112.0
fastjsonschema==2.16.2
filelock==3.16.0
Flask==3.0.3
Flask-Bcrypt==1.0.1
Flask-Cors==4.0.1
Flask-JWT-Extended==4.6.0
Flask-Login==0.6.3
Flask-Migrate==4.0.7
Flask-MySQLdb==2.0.0
Flask-RESTful==0.3.10
Flask-SocketIO==5.3.6
Flask-SQLAlchemy==3.1.1
flatbuffers==24.3.25
fontstyle==1.0.1.2
fonttools==4.55.0
fqdn==1.5.1
frozendict==2.3.8
frozenlist==1.3.3
fsspec==2024.12.0
gast==0.4.0
gitdb==4.0.12
GitPython==3.1.46
google-api-core==2.19.1
google-api-python-client==2.140.0
google-auth==2.33.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.0.0
google-oauth2-tool==0.0.3
google-pasta==0.2.0
googleapis-common-protos==1.63.2
greenlet==3.0.3
grpcio==1.56.2
h11==0.14.0
h5py==3.11.0
html5lib==1.1
httpcore==1.0.5
httplib2==0.22.0
httpx==0.27.0
huggingface-hub==0.27.1
idna==3.3
imap-tools==1.11.0
importlib-metadata==6.0.0
importlib_resources==6.4.5
ipykernel==6.21.2
ipython==8.10.0
ipython-genutils==0.2.0
ipywidgets==8.0.4
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.18.2
Jinja2==3.1.2
joblib==1.3.1
json5==0.9.14
jsonpatch==1.33
jsonpointer==2.3
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
jupyter==1.0.0
jupyter-console==6.6.1
jupyter-events==0.6.3
jupyter-lsp==2.2.0
jupyter_client==8.0.3
jupyter_core==5.2.0
jupyter_server==2.9.1
jupyter_server_terminals==0.4.4
jupyterlab==4.0.7
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.5
jupyterlab_server==2.25.0
keras==3.8.0
kiwisolver==1.4.7
langchain==0.2.3
langchain-community==0.2.4
langchain-core==0.2.5
langchain-openai==0.1.8
langchain-text-splitters==0.2.1
langsmith==0.1.77
-e git+https://github.com/google/latexify_py.git@54dc8697196370dad227b0d516b42f6b82825852#egg=latexify_py
lesscpy==0.15.1
libclang==16.0.6
lxml==4.9.3
Mako==1.3.5
Markdown==3.4.4
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.21.3
matplotlib==3.9.2
matplotlib-inline==0.1.6
mdurl==0.1.2
mistune==2.0.5
ml-dtypes==0.4.0
more-itertools==10.4.0
MouseInfo==0.1.3
mpmath==1.3.0
multidict==6.0.4
multitasking==0.0.11
mypy-extensions==1.0.0
mysql-connector-python==9.0.0
mysqlclient==2.2.4
namex==0.0.8
narwhals==2.18.0
nbclassic==0.5.2
nbclient==0.7.2
nbconvert==7.2.9
nbformat==5.7.3
nest-asyncio==1.5.6
networkx==3.2.1
neuralintents==0.1.0
nltk==3.9.1
notebook==7.0.6
notebook_shim==0.2.2
numpy==1.26.4
oauth2client==4.1.3
oauthlib==3.2.2
ollama==0.2.1
openai==1.34.0
opencv-contrib-python==4.9.0.80
opencv-python==4.10.0.84
openpyxl==3.1.2
opt-einsum==3.3.0
optree==0.12.1
orjson==3.10.4
osqp==0.6.3
outcome==1.3.0.post0
overrides==7.4.0
packaging==24.2
pandas==2.2.2
pandas-datareader==0.10.0
pandas-ta==0.3.14b0
pandocfilters==1.5.0
parso==0.8.3
patsy==0.5.3
pdfminer.six==20251107
pdfplumber==0.11.8
peewee==3.17.0
pefile==2023.2.7
pickleshare==0.7.5
pillow==11.0.0
platformdirs==4.3.2
playsound==1.3.0
plotly==5.22.0
ply==3.11
plyer==2.1.0
premailer==3.10.0
prometheus-client==0.16.0
prompt-toolkit==3.0.37
proto-plus==1.24.0
protobuf==3.20.3
psutil==5.9.4
psycopg2==2.9.9
pure-eval==0.2.2
pyarrow==21.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
PyAutoGUI==0.9.53
pybind11==2.11.1
pycparser==2.21
pydantic==2.7.4
pydantic_core==2.18.4
pydeck==0.9.1
PyGetWindow==0.0.9
Pygments==2.14.0
pyinstaller==6.9.0
pyinstaller-hooks-contrib==2024.7
pyjokes==0.6.0
PyJWT==2.9.0
pymongo==4.10.1
Pympler==1.1
PyMsgBox==1.0.9
PyMuPDF==1.26.5
pyparsing==3.2.0
pypdf==6.4.2
pypdfium2==5.6.0
pyperclip==1.8.2
pypiwin32==223
pyportfolioopt==1.5.5
pyquaternion==0.9.9
PyRect==0.1.4
pyrsistent==0.19.3
PyScreeze==0.1.28
PySide6==6.10.1
PySide6_Addons==6.10.1
PySide6_Essentials==6.10.1
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-dotenv==1.0.0
python-engineio==4.9.1
python-json-logger==2.0.7
python-socketio==5.11.3
pyttsx3==2.90
pytweening==1.0.4
pytz==2023.3.post1
pywhatkit==5.3
pywin32==303
pywin32-ctypes==0.2.2
pywinpty==2.0.10
PyYAML==6.0
pyzmq==25.0.0
qdldl==0.1.7.post0
qrcode==7.3.1
qtconsole==5.4.0
QtPy==2.3.0
referencing==0.30.2
regex==2024.5.15
requests==2.32.3
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rpds-py==0.10.6
rsa==4.9
safetensors==0.5.2
scapy==2.6.1
scikit-learn==1.3.0
scipy==1.11.1
scs==3.2.3
seaborn==0.13.0
secure-smtplib==0.1.1
selenium==4.35.0
semver==3.0.4
Send2Trash==1.8.2
shiboken6==6.10.1
simple-websocket==1.0.0
six==1.16.0
sklearn==0.0.post7
sklearn-features==0.0.2
smmap==5.0.3
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.3.1
SpeechRecognition==3.8.1
SQLAlchemy==2.0.30
sqlparse==0.5.1
stack-data==0.6.2
starlette==0.37.2
statsmodels==0.14.0
streamlit==1.12.0
svgwrite==1.4.3
sympy==1.13.1
tenacity==8.3.0
tensorboard==2.18.0
tensorboard-data-server==0.7.1
tensorflow==2.18.0
tensorflow-estimator==2.13.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow_intel==2.18.0
termcolor==2.3.0
terminado==0.17.1
tf_keras==2.18.0
threadpoolctl==3.2.0
tiktoken==0.7.0
tinycss2==1.2.1
tokenizers==0.21.0
toml==0.10.2
tomli==2.0.1
toolz==1.1.0
torch==2.5.1
tornado==6.2
tqdm==4.64.1
traitlets==5.9.0
transformers==4.48.0
Tree==0.2.4
trio==0.30.0
trio-websocket==0.12.2
typing-inspect==0.9.0
typing_extensions==4.14.1
tzdata==2023.3
tzlocal==5.3.1
uri-template==1.2.0
uritemplate==4.1.1
urllib3==2.5.0
uvicorn==0.30.6
validators==0.35.0
virtualenv==20.26.4
watchdog==6.0.0
wcwidth==0.2.6
webcolors==1.12
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.0.3
wget==3.2
widgetsnbextension==4.0.5
wikipedia==1.4.0
wrapt==1.15.0
wsproto==1.2.0
yarl==1.8.2
yellowbrick==1.5
yfinance==0.2.31
zipp==3.21.0
zope.interface==6.1
